<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.midarr">
        <category id="general" label="" help="">
            <group id="1" label="">
                <setting id="baseurl" type="string" label="BASE URL" help="example: http://midarr.home">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>BASE URL</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>