<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.midarr">
        <category id="general" label="General" help="Some general">
            <group id="1" label="Settings">
                <setting id="baseurl" type="string" label="BASE URL">
                    <level>0</level>
                    <default>http://midarr.home</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>BASE URL</heading>
                    </control>
                </setting>
                <setting id="apitoken" type="string" label="API Token">
                    <level>0</level>
                    <default>some-api-token</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>API Token</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>